body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #E6CDFF !important; 
}

.center {
  text-align: center;
}

.container1 {
  background-color: #CD9BFF;
  padding: 20px;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  color: #000;
}

.black-line {
  border: 1px solid black;
  width: 100%;
}

.description {
  font-size: 1.2rem;
  color: #000;
  margin-bottom: 30px;
  text-align: left;
}

.weapon-ranking {
  padding: 20px;
  border-radius: 5px;
}

.rank-number {
  font-size: 3rem;
  color: #000;
}

.weapon-name {
  font-size: 1.5rem;
  margin: 10px 0;
  color: #000;
}

.weapon-image {
  max-width: 50%;
  height: auto;
  border-radius: 10px;
  margin-top: 10px;
}

.weapon-details {
  margin: 20px auto;
  max-width: 800px;
  text-align: left;
  font-size: 1.1rem;
  color: #000;
}

.margin-top{
  margin-top: 50px;
}

.nav-item-change{
  background-color: #E6CDFF;
  height: 36px;
  width: 161px;
  margin-right: 10px;
  text-align: center;
  font-size: small;
}

.nav-color-edit{
  background-color: #8206FF !important;
}

.btm{
  position:absolute; bottom: 0 ;
}

.cntr{
  justify-content:space-evenly;
}